* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#board {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.header {
    align-self: center;
}

.row {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 1500px;
    margin-bottom: 0.6px;
    background-color:#875234;
    border-radius: 20px;
    padding: 20px;
}

.pit {
 
    border: 5px solid #863339;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 20px;
    cursor: pointer;
    /* margin-right: 50px; */
    width: 200px;
    height: 200px;
    border: 1px solid #e4d4bc;
    background-color: #cc945b;
    border-radius: 70%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

/* .seed {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
} */

/* .seed {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(7, 7, 7);
} */
.pit:hover {
    background-color: #e4e407;
}

.player {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
    font-size: 50px;
    /* background-color:#e4e407; */
    background-repeat: no-repeat;
    display:inline;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    
    
}

#player-1 {
   color: #0a9fe4;
   background-color: blueviolet;
   width: 400px; 
    /* top: 0;
    bottom:0; */
    width:20%;
    height: 50%;
    float: right;

   
}

#player-2 {
    color: #eed706;
    background-color: rgb(235, 38, 120);
    width: 400px;
    /* position: relative; */
    /* top: 0; */
        /* bottom: 0; */
        width: 10%;
        height: 50%;
        float: right;
        
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#startButton {
    background-color:#b98b63;
    color: #f2eddb;
    border: none;
    padding 15px 32px;
    font-size: 70px;
    border-radius: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 4px 2px;
    align-items: center;
    display: inline-block;
    cursor: pointer;
}

#resetButton    {
    background-color: #070707;
    color: #b46c24;
    border: none;
    width: 180px;
    height:180px;
        padding 15px 32px;
        font-size: 45px;
        border-radius: 70%;
        font-family:'Gill Sans',
            'Gill Sans MT',
            Calibri,
            'Trebuchet MS',
            sans-serif;
        font-weight: bold;
        margin: 4px 2px;
        /* align-items: center; */
        /* display: inline-block; */
        float:left;
        cursor: pointer;
}

span  {
    /* background-color: #863339; */
    width: 40px;
    height: 40px;
    /* font-size: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
    border-radius: 50%;
    background-image: radial-gradient(#fff, #b3481f 60%);
    cursor: pointer;
    display: inline-flex;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

 #seed1 {
    background-image: radial-gradient(#fff, #3810ca 60%);
}

#seed2 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed3 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed4 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed5 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed6 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed7 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed8 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed9 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed10 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed11 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed12 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed13 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed14 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed15 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed16 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed17 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed18 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed19 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed20 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed21 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed22 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed23 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed24 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed25 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed26 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed27 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed28 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed29 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed30 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed31 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed32 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed33 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed34 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed35 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed36 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed37 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed38 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed39 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed40 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed41 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed42 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed43 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed44 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed45 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed46 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed47 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

#seed48 {
    background-image: radial-gradient(#fff, #b3481f 60%);
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.turn {
    font-weight: bold;
    background-color: #c0691d;
    font-family:Roboto;
    float: center;
   
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


.game-board {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
   
}
.scoreP1  {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #0a9fe4;
}

.scoreP2 {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #eed706;
    
}
.score {
    margin-top: 10px;
    font-size: 240px;
    font-weight: bold;
}

.game-info {
    float: left;
    margin-top: 30px;
    background-color: rgb(169, 172, 173);
    border-radius: 5%;
    width: auto;
    height:auto;
   
}

.game-controls {
    
}